.header {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  transition-property: border-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  height: 50px;
}

.header.default {
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
}

.header.taskList {
  justify-content: space-between;
  align-items: center;
}

.header.taskList .date {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.header.taskList .dateRel {
  font-size: 1rem;
}

.header.taskList .dateText {
  font-size: 0.75rem;
}

.header.taskList .navBtn {
  background: none;
  border: none;
  height: 100%;
  width: 50px;
}

.header.taskList .navBtn:active {
  background-color: var(--button-active-color);
}

.title {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--text-color-hard);
  transition-property: color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.backButton {
  background: none;
  border: none;
}
