.switch {
  display: block;
  height: 3.125rem;
  width: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch:active {
  color: var(--border-active-color);
}

.switch input {
  display: none;
}

.icon {
  color: var(--icon-color);
  transition-property: color;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}
