html {
  color-scheme: dark light; /* Enable dark mode support from system preferance*/
  font-size: medium;
}

:root {
  --primary-background: #f1f1f1;
  --secondary-background: #ffffff;
  --text-color-hard: #333333;
  --text-color-soft: #505050;
  --primary-action-color: #0079fc;
  --secondary-action-color: #0056b3;
  --progress-bg: #00000021;
  --border-color: #c1c1c1;
  --icon-color: #000;
  --button-active-color: #e3e3e3;
  --icon-font-weight: 200;
  --text-font-weight: 400;
  --placeholder-color: #838383;
  --error-text: #a60000;
  --blue-on-secondary-bg: #0056b1;
  --circle-stroke: #e1e1e1;
  --circle-excellent: #12a045;
  --circle-good: #60c21e;
  --circle-fair: #ffb43e;
  --circle-poor: #ea4848;
  --slider-base: #cfcfcf;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #121212;
    --secondary-background: #1d1d1d;
    --text-color-hard: #e4e4e4;
    --text-color-soft: #a8a8a8;
    --primary-action-color: #0079fc;
    --secondary-action-color: #0056b3;
    --progress-bg: #e0e0e024;
    --border-color: #323232;
    --icon-color: #fff;
    --button-active-color: #282828;
    --icon-font-weight: 100;
    --text-font-weight: 300;
    --placeholder-color: #666;
    --error-text: #fa8585;
    --blue-on-secondary-bg: #60acff;
    --circle-stroke: #4b4b4b;
    --circle-excellent: #12aa48;
    --circle-good: #96e660;
    --circle-fair: #e6cc60;
    --circle-poor: #e66060;
    --slider-base: #444444;
  }
}

[data-theme='light']:root {
  color-scheme: light;
  --primary-background: #f1f1f1;
  --secondary-background: #ffffff;
  --text-color-hard: #333333;
  --text-color-soft: #505050;
  --primary-action-color: #0079fc;
  --secondary-action-color: #0056b3;
  --progress-bg: #00000021;
  --border-color: #c1c1c1;
  --icon-color: #000;
  --button-active-color: #e3e3e3;
  --icon-font-weight: 200;
  --text-font-weight: 400;
  --placeholder-color: #838383;
  --error-text: #a60000;
  --blue-on-secondary-bg: #0056b1;
  --circle-stroke: #e1e1e1;
  --circle-excellent: #12a045;
  --circle-good: #60c21e;
  --circle-fair: #ffb43e;
  --circle-poor: #ea4848;
  --slider-base: #cfcfcf;
}

[data-theme='dark']:root {
  color-scheme: dark;
  --primary-background: #121212;
  --secondary-background: #1d1d1d;
  --text-color-hard: #e4e4e4;
  --text-color-soft: #a8a8a8;
  --primary-action-color: #0079fc;
  --secondary-action-color: #0056b3;
  --progress-bg: #e0e0e024;
  --border-color: #323232;
  --icon-color: #fff;
  --button-active-color: #282828;
  --icon-font-weight: 100;
  --text-font-weight: 300;
  --placeholder-color: #666;
  --error-text: #fa8585;
  --blue-on-secondary-bg: #60acff;
  --circle-stroke: #4b4b4b;
  --circle-excellent: #12aa48;
  --circle-good: #96e660;
  --circle-fair: #e6cc60;
  --circle-poor: #e66060;
  --slider-base: #444444;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--primary-background);
  color: var(--text-color-hard);
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.text-center {
  text-align: center;
}

.material-symbols-outlined {
  font-weight: var(--icon-font-weight);
}

a {
  color: var(--primary-action-color);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}
