html {
  color-scheme: dark light; /* Enable dark mode support from system preferance*/
  font-size: medium;
}

:root {
  --primary-background: #f1f1f1;
  --secondary-background: #ffffff;
  --text-color-hard: #333333;
  --text-color-soft: #636363;
  --primary-action-color: #3a8dff;
  --primary-accent: #4c7eff;
  --progress-bg: #00000021;
  --border-color: #0003;
  --icon-color: #000;
  --button-active-color: #e3e3e3;
  --icon-font-weight: 200;
  --text-font-weight: 400;
  --non-scorable-border-color: #8c8c8c;
  --non-scorable-text-color: #424242;
  --non-scorable-bg-color: #80808036;
  --scorable-border-color: #2982ff;
  --scorable-text-color: #004099;
  --scorable-bg-color: #006aff1f;
  --excellent-border-color: #008f00;
  --excellent-text-color: #005214;
  --excellent-bg-color: #0080001a;
  --good-border-color: #e3bf0d;
  --good-text-color: #5c5000;
  --good-bg-color: #ffff0014;
  --fair-border-color: #eb7500;
  --fair-text-color: #7a3d01;
  --fair-bg-color: #ff800012;
  --poor-border-color: #db574d;
  --poor-text-color: #990000;
  --poor-bg-color: #ff000012;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-background: #121212;
    --secondary-background: #1d1d1d;
    --text-color-hard: #e4e4e4;
    --text-color-soft: #a0a0a0;
    --primary-action-color: #3a8dff;
    --primary-accent: #4c7eff;
    --progress-bg: #e0e0e024;
    --border-color: #fff2;
    --icon-color: #fff;
    --button-active-color: #1f1f1f;
    --icon-font-weight: 100;
    --text-font-weight: 300;
    --non-scorable-border-color: #919191;
    --non-scorable-text-color: #ababab;
    --non-scorable-bg-color: #80808021;
    --scorable-border-color: #529aff;
    --scorable-text-color: #77abf3;
    --scorable-bg-color: #006aff26;
    --excellent-border-color: #189a18;
    --excellent-text-color: #00c200;
    --excellent-bg-color: #0080001c;
    --good-border-color: #ebc400;
    --good-text-color: #cfb930;
    --good-bg-color: #ffff001c;
    --fair-border-color: #ff8000;
    --fair-text-color: #ff8c1a;
    --fair-bg-color: #ff80001a;
    --poor-border-color: #db574d;
    --poor-text-color: #f58484;
    --poor-bg-color: #ff00001a;
  }
}

[data-theme='light']:root {
  color-scheme: light;
  --primary-background: #f1f1f1;
  --secondary-background: #ffffff;
  --text-color-hard: #333333;
  --text-color-soft: #636363;
  --primary-action-color: #3a8dff;
  --primary-accent: #4c7eff;
  --progress-bg: #00000021;
  --border-color: #0003;
  --icon-color: #000;
  --button-active-color: #e3e3e3;
  --icon-font-weight: 200;
  --text-font-weight: 400;
  --non-scorable-border-color: #8c8c8c;
  --non-scorable-text-color: #424242;
  --non-scorable-bg-color: #80808036;
  --scorable-border-color: #2982ff;
  --scorable-text-color: #004099;
  --scorable-bg-color: #006aff1f;
  --excellent-border-color: #008f00;
  --excellent-text-color: #005214;
  --excellent-bg-color: #0080001a;
  --good-border-color: #e3bf0d;
  --good-text-color: #5c5000;
  --good-bg-color: #ffff0014;
  --fair-border-color: #eb7500;
  --fair-text-color: #7a3d01;
  --fair-bg-color: #ff800012;
  --poor-border-color: #db574d;
  --poor-text-color: #990000;
  --poor-bg-color: #ff000012;
}

[data-theme='dark']:root {
  color-scheme: dark;
  --primary-background: #121212;
  --secondary-background: #1d1d1d;
  --text-color-hard: #e4e4e4;
  --text-color-soft: #a0a0a0;
  --primary-action-color: #3a8dff;
  --primary-accent: #4c7eff;
  --progress-bg: #e0e0e024;
  --border-color: #fff2;
  --icon-color: #fff;
  --button-active-color: #1f1f1f;
  --icon-font-weight: 100;
  --text-font-weight: 300;
  --non-scorable-border-color: #919191;
  --non-scorable-text-color: #ababab;
  --non-scorable-bg-color: #80808021;
  --scorable-border-color: #529aff;
  --scorable-text-color: #77abf3;
  --scorable-bg-color: #006aff26;
  --excellent-border-color: #189a18;
  --excellent-text-color: #00c200;
  --excellent-bg-color: #0080001c;
  --good-border-color: #ebc400;
  --good-text-color: #cfb930;
  --good-bg-color: #ffff001c;
  --fair-border-color: #ff8000;
  --fair-text-color: #ff8c1a;
  --fair-bg-color: #ff80001a;
  --poor-border-color: #db574d;
  --poor-text-color: #f58484;
  --poor-bg-color: #ff00001a;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--primary-background);
  color: var(--text-color-hard);
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

.text-center {
  text-align: center;
}

.material-symbols-outlined {
  font-weight: var(--icon-font-weight);
}

a {
  color: var(--primary-action-color);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

button {
  -webkit-tap-highlight-color: transparent;
}
