.taskFormWrapper {
  max-width: 600px;
  margin: auto;
  padding: 1rem 1rem 8rem;
  background-color: var(--bg-surface);
  border-radius: 8px;
}

.stepOneWrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.timeRow {
  display: flex;
  gap: 1rem;
}

.timeRow > * {
  width: 50%;
}

.radioRow {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.radioColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.radio {
  width: calc(50% - 0.375rem);
}

.radioLabel {
  border: 1px solid var(--border-color);
  padding: 0.5rem 0.75rem;
  display: block;
  border-radius: 2rem;
  text-align: center;
  color: var(--text-color-soft);
}

.value {
  margin-bottom: 0.75rem;
}

.option {
  border: 1px solid var(--border-color);
  color: var(--text-color-soft);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.option.active {
  border: 1px solid var(--primary-action-color);
  color: var(--primary-action-color);
}

.optionInput {
  display: none;
}

.dateInputWrap {
  display: flex;
  border: 1px solid var(--border-color);
}

.dateInput {
  flex-grow: 1;
  border: none;
}

.dateInput:focus {
  outline: none;
}

.dateIcon {
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
}

.twoInputWrap {
  display: flex;
  gap: 1rem;
}

.dateOption.dateOption {
  line-height: 2.143rem;
  height: 2.143rem;
  padding: 0;
  width: 2.143rem;
  text-align: center;
  flex-shrink: 0;
  width: calc(14.285% - 0.429rem);
}

.monthWrap {
  border: 1px solid var(--secondary-background);
  color: var(--text-color-soft);
  background-color: var(--secondary-background);
  padding: 0.6rem 2.5rem 0.6rem 1rem;
  display: block;
  border-radius: 2rem;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
  margin: 0 0 0.3rem;
  position: relative;
}

.monthWrap .monthText {
  position: absolute;
  font-size: 0.96rem;
  right: 0.8rem;
}

.dateValues {
  display: flex;
  gap: 0.5rem;
  overflow: auto;
  padding-bottom: 0.4rem;
}

.dateValue {
  font-size: 0.8rem;
  color: var(--text-color-soft);
  display: block;
  border: 1px solid var(--border-color);
  padding: 0.2rem 0.4rem;
  flex-shrink: 0;
}

.fade {
  background-image: linear-gradient(
    0deg,
    var(--primary-background),
    transparent
  );
  height: 8rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.spinnerWrap {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.disabled {
  opacity: 0.3;
}
