.taskFormWrapper {
  max-width: 600px;
  margin: auto;
  padding: 2rem 1rem;
  background-color: var(--bg-surface);
  border-radius: 8px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.inputText,
.textarea {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--bg-input);
  color: var(--text-primary);
}

.inputText::placeholder,
.textarea::placeholder {
  color: var(--placeholder-color);
}

.textarea {
  resize: vertical;
  min-height: 80px;
}

.timeRow {
  display: flex;
  gap: 1rem;
}

.timeRow > * {
  width: 50%;
}

.radioRow {
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.radioColumn {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.fab {
  position: fixed;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--primary-action-color);
  color: #fff;
  cursor: pointer;
  font-weight: 100;
  font-size: 2rem;
  border: 1px solid var(--primary-action-color);
}

.fab.prev {
  left: 2rem;
}

.fab.next {
  right: 2rem;
}

.radio {
  width: calc(50% - 0.375rem);
}

.radioInput {
  display: none;
}

.radioLabel {
  border: 1px solid var(--border-color);
  padding: 0.5rem 0.75rem;
  display: block;
  border-radius: 2rem;
  text-align: center;
  color: var(--text-color-soft);
}

.radioInput:checked + .radioLabel {
  border: 1px solid var(--primary-action-color);
  color: var(--primary-action-color);
}

.value {
  margin-bottom: 0.75rem;
}

.option {
  border: 1px solid var(--border-color);
  color: var(--text-color-soft);
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.option.active {
  border: 1px solid var(--primary-action-color);
  color: var(--primary-action-color);
}

.optionInput {
  display: none;
}

.dateInputWrap {
  display: flex;
  border: 1px solid var(--border-color);
}

.dateInput {
  flex-grow: 1;
  border: none;
}

.dateInput:focus {
  outline: none;
}

.dateIcon {
  display: flex;
  align-items: center;
  padding: 0 0.3rem;
}
