.fab {
  position: fixed;
  bottom: 2rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-weight: 100;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  background-color: var(--primary-action-color);
  color: #fff;
  border: 1px solid transparent;
}

.secondary {
  background-color: var(--secondary-background);
  color: var(--blue-on-secondary-bg);
  border: 1px solid var(--blue-on-secondary-bg);
}

.left {
  left: 2rem;
}

.right {
  right: 2rem;
}

.fab:disabled {
  opacity: 0.3;
}

.fab .spinner {
  border: 3px solid white;
  border-top: 3px solid transparent;
  width: 1.5rem;
  height: 1.5rem;
}
