.wrap {
  position: relative;
  display: block;
}

.svg {
  display: block;
  transform: rotate(-90deg);
}

.circle {
  stroke: var(--circle-stroke);
}

.circleMain.excellent {
  stroke: var(--circle-excellent);
}

.circleMain.good {
  stroke: var(--circle-good);
}

.circleMain.fair {
  stroke: var(--circle-fair);
}

.circleMain.poor {
  stroke: var(--circle-poor);
}

.text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  color: var(--text-color-hard);
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.9rem;
  display: block;
}
