.taskListContainer {
  padding-bottom: 6rem;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 1rem;
}

.taskCard {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

.scoreWrap {
  background-color: var(--secondary-background);
  padding: 0.5rem;
  border-radius: 0 0.5rem 0.5rem 0;
  display: flex;
  align-items: center;
}

.details {
  padding: 1rem 0.5rem 1rem 1rem;
  flex: 1;
  background-color: var(--secondary-background);
  border-radius: 0.5rem 0 0 0.5rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.taskName {
  font-size: 0.9rem;
  display: inline-block;
  color: var(--text-color-hard);
  letter-spacing: 1px;
  line-height: 1.5;
}

.meta {
  color: var(--text-color-soft);
  font-size: 0.8rem;
  margin-top: 0.3rem;
  display: flex;
  gap: 0.2rem 0.7rem;
  flex-wrap: wrap;
  line-height: 1.5;
}

.line {
  background-color: var(--secondary-background);
  border: none;
  margin-left: 1.25rem;
  margin-right: 7rem;
  height: 1px;
}

.arrowImage {
  bottom: 7rem;
  width: 6rem;
  color: aliceblue;
  position: fixed;
  right: 2rem;
  rotate: 163deg;
}

.hintBox {
  width: 6rem;
  text-align: center;
  position: fixed;
  right: 3rem;
  bottom: 14rem;
  color: var(--text-color-soft);
}

.emptyState {
  padding: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;
  color: var(--text-color-soft);
}

.taskListContainer .fab {
  bottom: 3.5rem;
  right: 1rem;
}
